.hero-section {
    /* animation-name: fadeUp; */
    animation-timing-function: ease-out;
    animation-duration: 200ms;
    animation-delay: 400ms;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;

    margin-bottom: 10rem;
}

@media (max-width: 1000px) {
    .hero-section {
        margin-bottom: 5rem;
    }
}

.resumeButton {
    border: 0.125rem solid black;
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    transition: all 20ms ease-out;
    margin-right: 0;
}

.resumeButton:hover {
    color: white;
    background-color: black;
}

.welcome-div {
    display: flex;
    column-gap: 1rem;
}

.waving-hand {
    height: 48px;
    width: 48px;
    animation-name: waving-hand;
    animation-timing-function: ease-out;
    animation-duration: 2500ms;
    animation-delay: 0;
    animation-iteration-count: 3;
    animation-fill-mode: backwards;
}

.title {
    font-size: 2.625rem;
    line-height: 4rem;
    font-weight: 700;
    line-height: 3rem;
}

.subtitle {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
    box-shadow: var(--custom-box-shadow);
    transition: box-shadow .3s ease-out;
    display: inline-block;
    margin-bottom: 2rem;
}

.subtitle:hover {
    box-shadow: var(--custom-box-shadow-hover);
}

.ptitle {
    font-size: 1.125rem;
    margin-bottom: 2rem;
}

.social-media-div {
    display: flex;
    column-gap: 1rem;

    /* animation-name: fadeLeft; */
    animation-timing-function: ease-out;
    animation-duration: 200ms;
    animation-delay: 600ms;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
}

.social-media-button {
    background: white;
    background: linear-gradient(to right, black 50%, white 50%);
    background-position: 100% 100%;
    background-size: 205% 100%;
    transition: all .1s ease-out;
}

.social-media-button:hover {
    background-position: 0% 0%;
}