.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 15.625rem);
    gap: 1rem;
}

.skill {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    border: 1px solid black;
    padding: 0.8rem 1rem;
    border-radius: 0.2rem 1rem;
    max-width: 15.625rem;
}

.skill>img{
    object-fit: contain;
}